Repository Z2PackDev/Z2Pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, interpolate-workflows

.pre-commit-config.yaml:

repos:
- repo: git://github.com/pre-commit/mirrors-yapf
  rev: v0.29.0
  hooks:
  - id: yapf
    language: system

- repo: local
  hooks:
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: '^(doc/)|(examples/)|(futures/)|(utils/)'

  - id: interpolate-workflows
    name: Interpolate Github workflows
    entry: python ./utils/interpolate_yaml_anchors.py
    language: system
    files: |
      (?x)^(
        .github/(.)*|
        utils/interpolate_yaml_anchors.py
      )$
    pass_filenames: false

Make tests executable from top-level directory.
  tests/fp/test_vasp.py
  tests/plottest_helpers.py
  tests/test_read_mmn.py
  tests/test_surface_run.py
  tests/test_volume_run.py
Due: pylint

Add codecov to install script.
  .ci/install_script.sh
Due: none

Remove Travis configuration file.
  .travis.yml
Due: none

Move to Github actions (#102)
  .ci/install_script.sh
  .ci/test_script.sh
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .pylintrc
  .travis.yml
  pyproject.toml
  setup.py
  tests/fp/test_vasp.py
  tests/local_config.yml
  tests/monkeypatch_data.py
  tests/plottest_helpers.py
  tests/test_read_mmn.py
  tests/test_surface_run.py
  tests/test_volume_run.py
  utils/interpolate_yaml_anchors.py
  z2pack/surface/_run.py
  z2pack/volume/_result.py
  z2pack/volume/_run.py
Due: pylint, interpolate-workflows

Set '--no-plot-compare' option on CI tests.
  .gitignore
  tests/local_config.yml
Due: none

Move setup configuration to setup.cfg file
  setup.cfg
  setup.py
Due: pylint

Remove prospector config file
  .prospector.yaml
Due: none

Use editable install in 'dev' test type to enable coverage report
  .ci/install_script.sh
  tests/coverage.sh
Due: none

Use setup.cfg for installation (#103)
  .ci/install_script.sh
  .gitignore
  .prospector.yaml
  setup.cfg
  setup.py
  tests/coverage.sh
  tests/local_config.yml
Due: pylint

Use 'dev' extra requirement on readthedocs.
  .readthedocs.yml
  CONTRIBUTING.md
Due: none

Use 'dev' extra requirement on readthedocs. (#105)
  .readthedocs.yml
  CONTRIBUTING.md
Due: none

Add files via upload
  examples/fp/elk/Bi2Se3/input/elk.in
  examples/fp/elk/Bi2Se3/input/elkWannBands.in
  examples/fp/elk/Bi2Se3/runElkWorks.py
Due: none

Update runElkWorks.py
  examples/fp/elk/Bi2Se3/runElkWorks.py
Due: none

Delete examples/fp/elk/Bi2Se3 directory
  examples/fp/elk/Bi2Se3/input/elk.in
  examples/fp/elk/Bi2Se3/input/elkWannBands.in
  examples/fp/elk/Bi2Se3/runElkWorks.py
Due: none

Add files via upload
  examples/fp/elk/clean.sh
  examples/fp/elk/input/elk.in
  examples/fp/elk/input/elkWannBands.in
  examples/fp/elk/runElk.py
Due: none

Add files via upload
  z2pack/fp/kpoint.py
Due: pylint

Update CHANGE.log
  CHANGE.log
Due: none

Update kpoint.py
  z2pack/fp/kpoint.py
Due: pylint

Update runElk.py
  examples/fp/elk/runElk.py
Due: none

Update clean.sh
  examples/fp/elk/clean.sh
Due: none

Add files via upload
  examples/fp/elk/runElk.py
Due: none

Add files via upload
  tests/elk/ground/BAND.OUT
  tests/elk/ground/BANDLINES.OUT
  tests/elk/ground/DTOTENERGY.OUT
  tests/elk/ground/EFERMI.OUT
  tests/elk/ground/EIGVAL.OUT
  tests/elk/ground/EQATOMS.OUT
  tests/elk/ground/EVALCORE.OUT
  tests/elk/ground/EVALFV.OUT
  tests/elk/ground/EVALSV.OUT
Due: none

Delete tests/elk/ground directory
  tests/elk/ground/BAND.OUT
  tests/elk/ground/BANDLINES.OUT
  tests/elk/ground/DTOTENERGY.OUT
  tests/elk/ground/EFERMI.OUT
  tests/elk/ground/EIGVAL.OUT
  tests/elk/ground/EQATOMS.OUT
  tests/elk/ground/EVALCORE.OUT
  tests/elk/ground/EVALFV.OUT
  tests/elk/ground/EVALSV.OUT
Due: none

Add files via upload
  tests/samples/elk/ground/BAND.OUT
  tests/samples/elk/ground/BANDLINES.OUT
  tests/samples/elk/ground/DTOTENERGY.OUT
  tests/samples/elk/ground/EFERMI.OUT
  tests/samples/elk/ground/EIGVAL.OUT
  tests/samples/elk/ground/EQATOMS.OUT
  tests/samples/elk/ground/EVALCORE.OUT
  tests/samples/elk/ground/EVALFV.OUT
  tests/samples/elk/ground/EVALSV.OUT
Due: none

Delete tests/samples/elk/ground directory
  tests/samples/elk/ground/BAND.OUT
  tests/samples/elk/ground/BANDLINES.OUT
  tests/samples/elk/ground/DTOTENERGY.OUT
  tests/samples/elk/ground/EFERMI.OUT
  tests/samples/elk/ground/EIGVAL.OUT
  tests/samples/elk/ground/EQATOMS.OUT
  tests/samples/elk/ground/EVALCORE.OUT
  tests/samples/elk/ground/EVALFV.OUT
  tests/samples/elk/ground/EVALSV.OUT
Due: none

Add files via upload
  tests/fp/test_fp_kpoint.py
Due: pylint

Create elk.in
  tests/samples/elk/input/elk.in
Due: none

Add files via upload
  tests/samples/elk/input/elkWannBands.in
  tests/samples/elk/input/spacegroup.in
Due: none

Create INFO.OUT
  tests/samples/elk/ground/INFO.OUT
Due: none
