Repository Z2PackDev/Z2Pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, interpolate-workflows

pylint:
  name: pylint
  entry: pylint
  language: system

interpolate-workflows:
  name: Interpolate Github workflows
  entry: python ./utils/interpolate_yaml_anchors.py
  language: system
  pass_filenames: false

Adds description for siesta example to documentation
  doc/source/examples/fp/index.rst
  doc/source/examples/fp/siesta.rst
Due: none

Add example for usage with SIESTA
  doc/source/examples/fp/siesta.rst
  examples/fp/siesta/Bi-monolayer/input/Bi.psml
  examples/fp/siesta/Bi-monolayer/input/Bi2D_BHex.fdf
  examples/fp/siesta/Bi-monolayer/run.py
  examples/fp/siesta/generic.py
Due: none

Update Bi example
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  examples/fp/abinit/Bi/Bi.py
  examples/fp/abinit/Bi/input/wannier90.win
  examples/fp/abinit/Bi/scf_input/Bi_scf.files
  examples/fp/abinit/Bi/scf_input/Bi_scf.in
Due: interpolate-workflows

Remove broken sphinx-pyreverse plugin
  doc/source/conf.py
  doc/source/devguide/index.rst
  setup.cfg
Due: none

Reduce accuracy requirements in Bi Abinit example
  examples/fp/abinit/Bi/Bi.py
  examples/fp/abinit/Bi/input/Bi_nscf.in
  examples/fp/abinit/Bi/scf_input/Bi_scf.in
Due: none

Re-run black
  examples/fp/abinit/Bi/Bi.py
Due: none

Update install_script for poetry
  .ci/install_script.sh
  .ci/test_script.sh
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Add extras in install_script
  .ci/install_script.sh
Due: none

Fix readthedocs config for poetry
  .readthedocs.yml
Due: none

Add dependabot configuration
  .github/dependabot.yml
Due: interpolate-workflows

Add dependabot configuration (#128)
  .github/dependabot.yml
Due: interpolate-workflows

Add Python 3.11 to CI
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .readthedocs.yml
  pyproject.toml
Due: interpolate-workflows

Remove 'push' CI, except on main
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Update pylint dependency
  poetry.lock
  pyproject.toml
Due: none

Add Python 3.11 to CI (#129)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .readthedocs.yml
  poetry.lock
  pyproject.toml
Due: interpolate-workflows

Fix pylint for Python 3.11
  .pre-commit-config.yaml
  .pylintrc
  pyproject.toml
  src/z2pack/_logging_format.py
  src/z2pack/_logging_tools.py
  src/z2pack/_result.py
  src/z2pack/fp/_first_principles.py
  src/z2pack/fp/_read_mmn.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/plot.py
  src/z2pack/surface/_result.py
  src/z2pack/surface/_run.py
  src/z2pack/volume/_result.py
  src/z2pack/volume/_run.py
  tests/test_line_run.py
  tests/test_surface_run.py
  tests/test_volume_run.py
Due: pylint

Replace msgpack-python by msgpack
  poetry.lock
  pyproject.toml
Due: none

Fix pylint for Python 3.11 (#130)
  .pre-commit-config.yaml
  .pylintrc
  pyproject.toml
  src/z2pack/_logging_format.py
  src/z2pack/_logging_tools.py
  src/z2pack/_result.py
  src/z2pack/fp/_first_principles.py
  src/z2pack/fp/_read_mmn.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/plot.py
  src/z2pack/surface/_result.py
  src/z2pack/surface/_run.py
  src/z2pack/volume/_result.py
  src/z2pack/volume/_run.py
  tests/test_line_run.py
  tests/test_surface_run.py
  tests/test_volume_run.py
Due: pylint

Use 'msgpack' instead of deprecated 'msgpack-python' (#131)
  poetry.lock
  pyproject.toml
Due: none

Remove use of fsc.export
  poetry.lock
  pyproject.toml
  src/z2pack/__init__.py
  src/z2pack/_control.py
  src/z2pack/_result.py
  src/z2pack/_run_utils.py
  src/z2pack/fp/_first_principles.py
  src/z2pack/fp/kpoint.py
  src/z2pack/hm.py
  src/z2pack/invariant.py
  src/z2pack/io/_encoding.py
  src/z2pack/line/_control.py
  src/z2pack/line/_data.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/plot.py
  src/z2pack/shape.py
  src/z2pack/surface/_control.py
  src/z2pack/surface/_data.py
  src/z2pack/surface/_result.py
  src/z2pack/surface/_run.py
  src/z2pack/system.py
  src/z2pack/tb.py
  src/z2pack/volume/_data.py
  src/z2pack/volume/_result.py
  src/z2pack/volume/_run.py
Due: pylint

Fix duplicate logging decorator
  src/z2pack/_run_utils.py
  src/z2pack/volume/_run.py
  tests/test_log.py
Due: pylint

Remove use of fsc.export (#133)
  poetry.lock
  pyproject.toml
  src/z2pack/__init__.py
  src/z2pack/_control.py
  src/z2pack/_result.py
  src/z2pack/fp/_first_principles.py
  src/z2pack/fp/kpoint.py
  src/z2pack/hm.py
  src/z2pack/invariant.py
  src/z2pack/io/_encoding.py
  src/z2pack/line/_control.py
  src/z2pack/line/_data.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/plot.py
  src/z2pack/shape.py
  src/z2pack/surface/_control.py
  src/z2pack/surface/_data.py
  src/z2pack/surface/_result.py
  src/z2pack/surface/_run.py
  src/z2pack/system.py
  src/z2pack/tb.py
  src/z2pack/volume/_data.py
  src/z2pack/volume/_result.py
  src/z2pack/volume/_run.py
  tests/test_log.py
Due: pylint

Add poetry consistency checks
  .pre-commit-config.yaml
Due: none

Add poetry consistency checks (#135)
  .pre-commit-config.yaml
Due: none

Update isort to 5.12.0
  .pre-commit-config.yaml
Due: none

Disable use-dict-literal pylint check
  pyproject.toml
Due: none

Update poetry lockfile
  poetry.lock
Due: none

Update poetry lockfile (#168)
  poetry.lock
Due: none

Adapt dependabot configuration
  .github/dependabot.yml
Due: interpolate-workflows

Adapt dependabot configuration (#194)
  .github/dependabot.yml
Due: interpolate-workflows

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(examples/)|(futures/)|(utils/)
  interpolate-workflows: any of: (?x)^(
  .github/(.)*|
  utils/interpolate_yaml_anchors.py
)$

