Repository Z2PackDev/Z2Pack: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-pyproject-check, poetry-lockfile-consistency, pylint, interpolate-workflows

.pre-commit-config.yaml:

repos:
- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
    - id: pyupgrade
      args: [--py38-plus]
- repo: https://github.com/psf/black
  rev: 22.12.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
  - id: isort
- repo: local
  hooks:
  - id: poetry-pyproject-check
    name: "poetry: pyproject.toml check"
    language: system
    entry: poetry
    args: ["check"]
    files: '^(pyproject\.toml)$'
    pass_filenames: false

  - id: poetry-lockfile-consistency
    name: "poetry: lockfile consistency check"
    language: system
    entry: poetry
    args: ['lock', '--check']
    files: '^(pyproject\.toml)|(poetry\.lock)$'
    pass_filenames: false

  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
    exclude: '^(doc/)|(examples/)|(futures/)|(utils/)'

  - id: interpolate-workflows
    name: Interpolate Github workflows
    entry: python ./utils/interpolate_yaml_anchors.py
    language: system
    files: |
      (?x)^(
        .github/(.)*|
        utils/interpolate_yaml_anchors.py
      )$
    pass_filenames: false

Add actions update
  .github/dependabot.yml
Due: interpolate-workflows

Maintenance: drop Py38, add Py312, upgrade pre-commit hooks
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  poetry.lock
  pyproject.toml
  src/z2pack/line/_control.py
  src/z2pack/line/_result.py
  src/z2pack/surface/_result.py
  src/z2pack/volume/_result.py
  tests/conftest.py
  tests/fp/test_abinit.py
  tests/fp/test_espresso.py
  tests/fp/test_espresso_new.py
  tests/fp/test_fp_kpoint.py
  tests/fp/test_vasp.py
  tests/hm_systems.py
  tests/plottest_helpers.py
  tests/tb_systems.py
  tests/test_chern_invariant.py
  tests/test_chern_plot.py
  tests/test_encoding.py
  tests/test_gap_convergence.py
  tests/test_hm.py
  tests/test_line_run.py
  tests/test_log.py
  tests/test_max_move.py
  tests/test_move_convergence.py
  tests/test_read_mmn.py
  tests/test_stepcounter.py
  tests/test_surface_run.py
  tests/test_volume_run.py
  tests/test_wcc_convergence.py
  tests/test_wcc_plot.py
  tests/test_wcc_symmetry.py
  tests/test_z2_invariant.py
Due: poetry-pyproject-check, poetry-lockfile-consistency, pylint, interpolate-workflows

Upgrade pylint to 3.x
  poetry.lock
  pyproject.toml
Due: poetry-pyproject-check, poetry-lockfile-consistency

Ignore too-many-arguments pylint warning
  pyproject.toml
Due: poetry-pyproject-check, poetry-lockfile-consistency

Maintenance: drop Py38, add Py312, upgrade pre-commit hooks (#216)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  poetry.lock
  pyproject.toml
  src/z2pack/line/_control.py
  src/z2pack/line/_result.py
  src/z2pack/surface/_result.py
  src/z2pack/volume/_result.py
  tests/conftest.py
  tests/fp/test_abinit.py
  tests/fp/test_espresso.py
  tests/fp/test_espresso_new.py
  tests/fp/test_fp_kpoint.py
  tests/fp/test_vasp.py
  tests/hm_systems.py
  tests/plottest_helpers.py
  tests/tb_systems.py
  tests/test_chern_invariant.py
  tests/test_chern_plot.py
  tests/test_encoding.py
  tests/test_gap_convergence.py
  tests/test_hm.py
  tests/test_line_run.py
  tests/test_log.py
  tests/test_max_move.py
  tests/test_move_convergence.py
  tests/test_read_mmn.py
  tests/test_stepcounter.py
  tests/test_surface_run.py
  tests/test_volume_run.py
  tests/test_wcc_convergence.py
  tests/test_wcc_plot.py
  tests/test_wcc_symmetry.py
  tests/test_z2_invariant.py
Due: poetry-pyproject-check, poetry-lockfile-consistency, pylint, interpolate-workflows

Mark VASP interface and pw2z2pack as unsupported
  doc/source/examples/fp/vasp.rst
  doc/source/index.rst
Due: none

Mark VASP interface and pw2z2pack as unsupported (#238)
  doc/source/examples/fp/vasp.rst
  doc/source/index.rst
Due: none

Fix RTD build
  .readthedocs.yml
Due: none

Fix RTD build (#239)
  .readthedocs.yml
Due: none

Always use sphinx-rtd-theme plugin
  doc/source/conf.py
  doc/source/examples/fp/vasp.rst
Due: none

Always use sphinx-rtd-theme plugin (#240)
  doc/source/conf.py
  doc/source/examples/fp/vasp.rst
Due: none

Update dependencies
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/z2pack/fp/kpoint.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/surface/_result.py
  src/z2pack/volume/_result.py
  utils/interpolate_yaml_anchors.py
Due: poetry-pyproject-check, poetry-lockfile-consistency, pylint, interpolate-workflows

Update dependencies (#246)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  doc/source/conf.py
  poetry.lock
  pyproject.toml
  src/z2pack/fp/kpoint.py
  src/z2pack/line/_result.py
  src/z2pack/line/_run.py
  src/z2pack/surface/_result.py
  src/z2pack/volume/_result.py
  utils/interpolate_yaml_anchors.py
Due: poetry-pyproject-check, poetry-lockfile-consistency, pylint, interpolate-workflows
